$blackManga: #011627;
$blackManga-dark: #01111d;
$icelandicWinds: #d6deeb;
$phenomenon: #3f719a;
$stormFang: #80a4c2;
$gloomySea: #4b6479;
$freshWater: #c5e4fd;
$mintos: #7fdbca;
$beckerBlue: #637777;
$red: #ef5350;
$green: #22da6e;
$yellow: #addb67;
$blue: #82aaff;
$orange: #f78c6c;
$magenta: #c792ea;
$cyan: #21c7a8;
$white: #ffffff;
$brightBlack: #575656;

$slate-50: #f8fafc;
$slate-100: #f1f5f9;
$slate-200: #e2e8f0;
$slate-300: #cbd5e1;
$slate-400: #94a3b8;
$slate-500: #64748b;
$slate-600: #475569;
$slate-700: #334155;
$slate-800: #1e293b;
$slate-900: #0f172a;
$slate-950: #020617;


