body {
  font-family: "Montserrat", sans-serif;
  background-color: #f1f5f9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.translate {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.translate__title {
  padding: 0rem 0rem;
  display: flex;
  justify-content: space-between;
  color: #94a3b8;
  font-size: calc(1.2rem + 0.3vw);
  font-weight: 500;
}
.translate__title button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
.translate textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  color: #475569;
  font-weight: 400;
  font-size: calc(1.4rem + 0.3vw);
  background-color: #f8fafc;
  border: 1px solid #94a3b8;
  border-radius: 0.5rem;
  resize: vertical;
  outline: none;
}
.translate textarea:focus {
  border-color: #80a4c2;
}

.header {
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
}
.header h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #64748b;
}

.translator {
  width: 100%;
  max-width: 80rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .translator {
    flex-direction: row;
  }
}

.table-wrapper {
  width: 100%;
  padding: 1rem 2rem;
  max-width: 80rem;
}
.table-wrapper h3 {
  color: #64748b;
  padding: 0.5rem 0rem;
}

.table {
  width: 100%;
  text-align: center;
  color: #475569;
  font-size: calc(1rem + 0.3vw);
  font-weight: 500;
  border-collapse: collapse;
}
.table thead {
  padding: 3rem;
}
.table td {
  padding: 0.5rem;
  border: 1px solid #cbd5e1;
}
.table tr:nth-of-type(even) {
  background-color: #e2e8f0;
}
.table td:nth-of-type(even) {
  font-weight: 400;
  font-size: calc(1.5rem + 0.3vw);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
